[flake8]
exclude = .git, __pycache__
ignore =
    # E501: line too long (greater than 79)
    E501,
    # E126: continuation line over-indented for hanging indent
    E126,
    # W503: line break before binary operator
    # this error are deprecated, see: https://www.python.org/dev/peps/pep-0008/#should-a-line-break-before-or-after-a-binary-operator
    W503
max-complexity = 10